md-backdrop, .md-dialog-container {
  position: fixed !important;
}

.request-dialog {
  width: $request-dialog-width;

  md-content {
    height: 650px;
  }
  
  iframe {
    border: none;
    width: 100%;
    height: 571px;
  }
  
}

.project-details-dialog, .task-details-dialog {

  width: $project-dialog-width;
  
  .project-title {
    display: inline-block;
  }
  
  .project-priority {
    display: inline-block;
    float: right;
    font-weight: bold;
    
    &.P1 {
      color: $priority-p1-color;
    }
    
    &.P2 {
      color: $priority-p2-color;
    }
    
    &.P3 {
      color: $priority-p3-color;
    }
  }
  
  %margin-top-bottom {
    margin: 1em 0;
    
  }
  
  .project-details {
    @extend %margin-top-bottom;

    > div {
      margin-bottom: rem(12px);
    }
    
  }
  
  .project-milestones {
    @extend %margin-top-bottom;
   
    float: right;
    width: 100%;
    padding: 0;
    border: 1px solid $border-color;
   
    .md-tile-content {
      padding-bottom: 21px;
    }

    md-checkbox .md-container {
      left: 5px;
    }

  }

}

.task-details-dialog {
  width: $task-dialog-width;
}