md-divider.md-default-theme {
  border-top-color: $border-color;
}

// Status container which uses an md-whiteframe
.status-container {
  position: relative;
}


// List header styles
.md-subheader {
  margin-right: 0;
}
.md-subheader:not(.md-sticky-no-effect):after {
  right: 0;
  margin-right: 0;
}

// Status box styles
@mixin status($status, $color) {

  .#{$status} .md-subheader:not(.md-sticky-no-effect)[sticky-state=active] {
    line-height: 0;
    background-color: $color;
    color: $subheader-font-color;
    margin-top: 0px;
  }

  md-content.status-#{$status} {
    height: rem($status-list-height);
    background-color: $project-list-background-color;

    .md-button {
      position: relative;
      width: 100%;
    }

    .status-title {
      line-height: 0;
      background-color: $color;
      color: $subheader-font-color;
    }

  }

}

@include status('submitted', $submitted-color);
@include status('inprogress', $inprogress-color);
@include status('ready', $ready-color);
@include status('completed', $completed-color);


.type-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  color: white;
  
  %type {
    position: absolute;
    top: -35px;
    left: -15px;
  }

  &.project {
    @include triangle(35px, $kareo-orange, up-right);

    &::after {
      position: absolute;
      top: -35px;
      left: -15px;
      content: "P";
      
    }
  }
  
  &.task {
    @include triangle(35px, $light-grey, up-right);

    &::after {
      position: absolute;
      top: -35px;
      left: -15px;
      content: "T";
    }
  }
}