md-divider.md-default-theme {
  border-top-color: $border-color;
}

// List header styles
.status .md-subheader {
  z-index: 2;
  
  @include padding(rem(8) rem(8) rem(8) rem(16));
  @include margin(0 0 0 0);

  &:not(.md-sticky-no-effect):after {
    right: 0;
  }
}

// Status box styles
@mixin status($status, $color){
  md-content.status-#{$status}{
    background-color: $project-list-background-color;
    
    .md-button {
      width: 100%;
    }

    .status-title {
      line-height: 0;
      background-color: $color;
      color: $subheader-font-color;
    }
  }
}

@include status('submitted', $submitted-color);
@include status('inprogress', $inprogress-color);
@include status('ready', $ready-color);
@include status('completed', $completed-color);