/*************************************************
	Typography
**************************************************/
// Header copy


// Project common styles
%title {
  font-size: rem($project-list-title-font-size);
  text-transform: capitalize;
}

%subtitle {
  font-size: rem($project-list-subtitle-font-size);
}

// Status box copy
.status {
  
  h2 {
	font-weight: $subheader-font-weight;
  }
  
  .md-button {
	text-align: left;
	text-transform: none;
	white-space: normal;

	color: inherit;
  }
  .project-title {
    @extend %title;
  }
  .project-deadline, .project-owner{
    @extend %subtitle;
  }
}

// Project details copy
.project-details-dialog {
  
  .project-title {
	text-transform: capitalize;
  }
  
}

.project-milestones {
  
  .milestone-title {
    @extend %title;
  }
  
  .milestone-responsible, .milestone-deadline {
    @extend %subtitle;
  }
  
}