extends layout

block head
	meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
	title Kareo Web Requests
	link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')
	link(rel='stylesheet', href='/bower_components/angular-material/angular-material.min.css')
	link(rel='stylesheet', href='/bower_components/angular-material/themes/orange-theme.css')
	link(rel='stylesheet', href='/styles/main.css')

block header
	header(layout="row")
		div.logo-container(flex="10")
			img.logo(src="http://www.kareo.com/img/logo.png")
		h1.app-title(flex="90") Kareo Web Requests

block content
	section.app-content(layout="row", ng-controller="AppCtrl")
		mixin status(status, name)
			div(class="status status-"+status, flex="25")
				div.status-title
					md-content
						md-card
							= name
				div.status-projects
					md-content
						md-card

		+status('submitted', 'Submitted')
		+status('inprogress', 'In Progress')
		+status('ready', 'Ready for Testing')
		+status('complete', 'Completed')

block scripts
	script(src="/bower_components/angular/angular.min.js")
	script(src="/bower_components/angular-aria/angular-aria.min.js")
	script(src="/bower_components/angular-animate/angular-animate.min.js")
	script(src="/bower_components/hammerjs/hammer.js")
	script(src="/bower_components/angular-material/angular-material.min.js")
	script(src="/app/app.js")