extends layout

block head
	title Kareo Web Requests
	link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css')

block header
	img.logo
	h1.app-title



//block iframes
//	#iframes.hide
//		iframe(id="project_podio_comm_frame", name="podio_comm_frame", src="https://podio.com/webforms/8527312/642603/frame")