/*************************************************
	Variables
**************************************************/
// Sizes
$project-dialog-width: rem(800);
$task-dialog-width: rem(600);
$request-dialog-width: rem(600);
$status-list-height: 700px;


// Colors
$kareo-orange: #F7941D;
$light-grey: lightgrey;

$background-color: #EEEEEE;
$subheader-font-color: #FFF;

$submitted-color: #454859;
$inprogress-color: #3371b6;
$ready-color: #f0ad4e;
$completed-color: #6fcd83;

$border-color: #E0E0E0;

$project-list-background-color: white;

$priority-p1-color: #F26649;
$priority-p2-color: #F0AD4E;
$priority-p3-color: #3371b6;

// typography variables
$project-list-title-font-size: 14px;
$project-list-subtitle-font-size: 12px;

$subheader-font-weight: 400;