/*************************************************
	Variables
**************************************************/
/* Colors */
/*************************************************
	Typography
**************************************************/
.app-title {
  padding: 0 0 0 0.5rem; }

.status .project-title, .project-milestones .milestone-title {
  font-size: 0.875rem;
  text-transform: capitalize; }

.status .project-deadline, .status .project-owner, .project-milestones .milestone-responsible, .project-milestones .milestone-deadline {
  font-size: 0.75rem; }

.status h2 {
  font-weight: 400; }
.status .md-button {
  text-align: left;
  text-transform: none;
  white-space: normal;
  color: inherit; }

.project-details-dialog .project-title {
  text-transform: capitalize; }

md-divider.md-default-theme {
  border-top-color: #E0E0E0; }

.status .md-subheader {
  z-index: 2;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  margin: 0; }
  .status .md-subheader:not(.md-sticky-no-effect):after {
    right: 0; }

md-content.status-submitted {
  background-color: white; }
  md-content.status-submitted .md-button {
    width: 100%; }
  md-content.status-submitted .status-title {
    line-height: 0;
    background-color: #454859;
    color: #FFF; }

md-content.status-inprogress {
  background-color: white; }
  md-content.status-inprogress .md-button {
    width: 100%; }
  md-content.status-inprogress .status-title {
    line-height: 0;
    background-color: #3371b6;
    color: #FFF; }

md-content.status-ready {
  background-color: white; }
  md-content.status-ready .md-button {
    width: 100%; }
  md-content.status-ready .status-title {
    line-height: 0;
    background-color: #f0ad4e;
    color: #FFF; }

md-content.status-completed {
  background-color: white; }
  md-content.status-completed .md-button {
    width: 100%; }
  md-content.status-completed .status-title {
    line-height: 0;
    background-color: #6fcd83;
    color: #FFF; }

.project-details-dialog {
  width: 800px; }
  .project-details-dialog .project-title {
    display: inline-block; }
  .project-details-dialog .project-priority {
    display: inline-block;
    float: right;
    font-weight: bold; }
    .project-details-dialog .project-priority.P1 {
      color: #F26649; }
    .project-details-dialog .project-priority.P2 {
      color: #F0AD4E; }
    .project-details-dialog .project-priority.P3 {
      color: #3371b6; }
  .project-details-dialog .project-details, .project-details-dialog .project-milestones {
    margin: 1em 0; }
  .project-details-dialog .project-details > div {
    margin-bottom: 0.75rem; }
  .project-details-dialog .project-milestones {
    float: right;
    width: 100%;
    padding: 0;
    border: 1px solid #E0E0E0; }
    .project-details-dialog .project-milestones .md-tile-content {
      padding-bottom: 21px; }
    .project-details-dialog .project-milestones md-checkbox .md-container {
      left: 5px; }

html, body {
  background-color: #EEE; }

header .header-container {
  margin: 0.5rem 0 0 0.5rem; }
  header .header-container * {
    display: block;
    float: left; }

/*# sourceMappingURL=main.css.map */
