@import '../bower_components/bourbon/dist/bourbon';
@import 'modules/variables';
@import 'partials/typography';
@import 'partials/list';
@import 'partials/dialog';

html, body {
  height: initial;
  background-color: $background-color;
}

// top header styles
header {
  .header-container {
    width: 100%;
    @include margin(rem(8) 0 0 rem(8));
    
    * {
      display: block;
      float: left;
    }
    
    .request-container {
      float: right;
      margin-top: 30px;
      margin-right: 15px;
    }

  }
}
