div.app-content(layout="row", layout-margin, flex, ng-controller="ProjectsController as projects")
	mixin status(status, name)
		md-whiteframe.md-whiteframe-z1(layout="columns", flex)
			md-content(class="status status-"+status, flex)
				md-subheader.md-whiteframe-z2.status-title
					h2= name
				md-list.status-projects
					- var currStatus = ""
					if status === 'submitted'
						- currStatus = 'Submitted'
					else if status === 'inprogress'
						- currStatus = 'In progress'
					else if status === 'ready'
						- currStatus = 'Ready'
					else if status === 'completed'
						- currStatus = 'Complete'
					md-item(ng-repeat="project in projects.unsorted | filter: {status: '#{currStatus}'}")
						md-item-content
							div.md-tile-left
							div.md-tile-content
								span.project-title {{project.name}}
								span.project-owner
								span.project-deadline
						md-divider(ng-if="!$last")

	+status('submitted', 'SUBMITTED')
	+status('inprogress', 'IN PROGRESS')
	+status('ready', 'READY FOR TESTING')
	+status('completed', 'COMPLETED')

