div.app-content(layout="row", layout-margin, flex, ng-controller="ItemsController as items")
	mixin status(status, name)
		md-whiteframe(class="md-whiteframe-z1 status-container "+status, layout="column", flex)
			md-content(class="status status-"+status, flex)
				md-subheader.status-title
					h2= name
				md-list.status-projects
					- var currStatus = ""
					if status === 'submitted'
						- currStatus = 'Submitted'
					else if status === 'inprogress'
						- currStatus = 'In progress'
					else if status === 'ready'
						- currStatus = 'Ready'
					else if status === 'completed'
						- currStatus = 'Complete'
					md-item(ng-repeat="item in items.unsorted | filter: {status: '#{currStatus}'}")
						md-item-content
							md-button(ng-click="items.viewDetails($event, item)")
								div(class="type-container {{item.type}}")
								div.md-tile-content
									div.project-title {{item.name}}
									div.project-owner
										span.owner
											b Requested by: &nbsp;
										span {{item.owner.name}}
									div.project-deadline
										span.deadline
											b Deadline: &nbsp;
										span {{item.deadline["start_date"]}}
						md-divider(ng-if="!$last")

	+status('submitted', 'SUBMITTED')
	+status('inprogress', 'IN PROGRESS')
	+status('ready', 'READY FOR TESTING')
	+status('completed', 'COMPLETED')

